In [1]:
import pandas as pd
import numpy as np

In [2]:
#using pandas to retrieve the data from html tables as dataframes from the given webpage
dataframe_list = pd.read_html("https://www.genealogybranches.com/censuscosts.html")
print(len(dataframe_list))#to find out  the number of tables in the data frame

2

In [3]:
#to expolre the first table in the data table
dataframe_table1=dataframe_list[0]
dataframe_table1.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [4]:
#to explore the second table in the data table
dataframe_table2 = dataframe_list[1]
dataframe_table2.head()

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

In [5]:
#exploring the useful dataframe and checking the rows and columns count
print("the shape of table 1 is",dataframe_table1.shape)
print("the shape of table 2 is",dataframe_table2.shape)

the shape of table 1 is (24, 4)
the shape of table 2 is (1, 1)

In [6]:
print(dataframe_table1)

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [7]:
#printing first row
first_row = dataframe_table1.iloc[0]
print(first_row)

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [8]:
dataframe_table1.columns = first_row
dataframe_table1.head()

0  Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [9]:
#dropping first row as it contains duplicate values as header
dataframe_table1.drop([0], inplace=True)
dataframe_table1.head()

0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

In [10]:
#checking for null values
dataframe_table1.isnull().any()

0
Census Year                False
Total Population           False
Census Cost                False
Average Cost Per Person    False
dtype: bool

In [11]:
#writing a function to clean the data which has * beside it.
# remove * character from the data
def cleanse_year(year):
    return year.replace("*","")
#testing the function cleanse_year
cleanse_year("20*10")

'2010'

In [12]:
#apply the cleanse_year function to the column Census Year which removes * beside the year if any
dataframe_table1['Census Year'] = dataframe_table1['Census Year'].apply(cleanse_year)
print(dataframe_table1)

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

In [13]:
import math
# define cleanse_cost function which can be used to clean the Census Cost column
def cleanse_cost(raw_cost):
    cost = raw_cost.lstrip("$").replace(",","")
    if  cost.find("Billion") != -1:          # if "cell" conatins "Billion":
        cost = cost.replace('Billion','')
        cost = float(cost)* math.pow(10,8)
    elif raw_cost.find("Million") != -1:     # elif "cell" contains Million: 
        cost = cost.replace('Million','')
        cost = float(cost)* math.pow(10,6)
    return str(cost)

#Testing cleanse_cost function
cleanse_cost("4.5 Billion")

'450000000.0'

In [14]:
#applying the cleanse cost function to Census Cost Column
dataframe_table1["Census Cost"] = dataframe_table1["Census Cost"].apply(cleanse_cost)
print(dataframe_table1)

0  Census Year Total Population   Census Cost Average Cost Per Person
1         1790          3929214         44377              1.13 cents
2         1800          5308483         66109              1.24 cents
3         1810          7239881        178445              2.46 cents
4         1820          9633822        208526              2.16 cents
5         1830         12866020        378545              2.94 cents
6         1840         17069458        833371              4.88 cents
7         1850         23191876       1423351              6.14 cents
8         1860         31443321       1969377              6.26 cents
9         1870         38558371       3421198              8.87 cents
10        1880         50155783       5790678             11.54 cents
11        1890         62979766      11547127             18.33 cents
12        1900         76303387      11854000             15.54 cents
13        1910         91972266      15968000             17.07 cents
14        1920        105710620      25117000             23.76 cents
15        1930        122775046      40156000             32.71 cents
16        1940        131669275      67527000             51.29 cents
17        1950        151325798      91462000             60.44 cents
18        1960        179323175     127934000             71.34 cents
19        1970        203302031     247653000                   $1.22
20        1980        226542199    1078488000                   $4.76
21        1990        248718301    2492830000                  $10.02
22        2000        281421906   450000000.0                  $15.99
23        2010        308745538  1300000000.0                  $42.11

In [15]:
#define cleanse_population function which can be used to clean the Total Population column
def cleanse_population(popultaion):
  return int(popultaion.replace(',',''))

#testing the cleanse population function

cleanse_population("123,000")

123000

In [16]:
#applying the cleanse population function to Total Population column
dataframe_table1['Total Population'] = dataframe_table1['Total Population'].apply(cleanse_population)
print(dataframe_table1)

0  Census Year  Total Population   Census Cost Average Cost Per Person
1         1790           3929214         44377              1.13 cents
2         1800           5308483         66109              1.24 cents
3         1810           7239881        178445              2.46 cents
4         1820           9633822        208526              2.16 cents
5         1830          12866020        378545              2.94 cents
6         1840          17069458        833371              4.88 cents
7         1850          23191876       1423351              6.14 cents
8         1860          31443321       1969377              6.26 cents
9         1870          38558371       3421198              8.87 cents
10        1880          50155783       5790678             11.54 cents
11        1890          62979766      11547127             18.33 cents
12        1900          76303387      11854000             15.54 cents
13        1910          91972266      15968000             17.07 cents
14        1920         105710620      25117000             23.76 cents
15        1930         122775046      40156000             32.71 cents
16        1940         131669275      67527000             51.29 cents
17        1950         151325798      91462000             60.44 cents
18        1960         179323175     127934000             71.34 cents
19        1970         203302031     247653000                   $1.22
20        1980         226542199    1078488000                   $4.76
21        1990         248718301    2492830000                  $10.02
22        2000         281421906   450000000.0                  $15.99
23        2010         308745538  1300000000.0                  $42.11

In [17]:
#define cleanse_avgcost function which can be used to clean the Average Cost Per Person column

def cleanse_avgcost(cost):
  cost = cost.replace('$','')
  cost = cost.replace('\t','')
  cost = cost.replace('\n','')
  if 'cents' in cost:
    # print("Cost ",cost)
    cost = cost.replace('cents','')
    cost = float(cost)/100
  return cost

# testing the function cleanse_avgcost
cleanse_avgcost("1.6 cents")

0.016

In [18]:
#applying the cleanse_avgcost function to Average Cost Per Person column
dataframe_table1['Average Cost Per Person'] = dataframe_table1['Average Cost Per Person'].apply(cleanse_avgcost)
print(dataframe_table1)

0  Census Year  Total Population   Census Cost Average Cost Per Person
1         1790           3929214         44377                  0.0113
2         1800           5308483         66109                  0.0124
3         1810           7239881        178445                  0.0246
4         1820           9633822        208526                  0.0216
5         1830          12866020        378545                  0.0294
6         1840          17069458        833371                  0.0488
7         1850          23191876       1423351                  0.0614
8         1860          31443321       1969377                  0.0626
9         1870          38558371       3421198                  0.0887
10        1880          50155783       5790678                  0.1154
11        1890          62979766      11547127                  0.1833
12        1900          76303387      11854000                  0.1554
13        1910          91972266      15968000                  0.1707
14        1920         105710620      25117000                  0.2376
15        1930         122775046      40156000                  0.3271
16        1940         131669275      67527000                  0.5129
17        1950         151325798      91462000                  0.6044
18        1960         179323175     127934000                  0.7134
19        1970         203302031     247653000                    1.22
20        1980         226542199    1078488000                    4.76
21        1990         248718301    2492830000                   10.02
22        2000         281421906   450000000.0                   15.99
23        2010         308745538  1300000000.0                   42.11

In [19]:
#save the cleansed dataframe to census_cost_cleansed file using pandas
dataframe_table1.to_csv('census_cost_cleansed.csv',index=False)

In [20]:
dataframe2_cleansed = pd.read_csv('census_cost_cleansed.csv')
print(dataframe2_cleansed)
print("the shape of cleansed df is",dataframe2_cleansed.shape)
dataframe2_cleansed.isnull()#checking whether data frame has any null values or not

    Census Year  Total Population   Census Cost  Average Cost Per Person
0          1790           3929214  4.437700e+04                   0.0113
1          1800           5308483  6.610900e+04                   0.0124
2          1810           7239881  1.784450e+05                   0.0246
3          1820           9633822  2.085260e+05                   0.0216
4          1830          12866020  3.785450e+05                   0.0294
5          1840          17069458  8.333710e+05                   0.0488
6          1850          23191876  1.423351e+06                   0.0614
7          1860          31443321  1.969377e+06                   0.0626
8          1870          38558371  3.421198e+06                   0.0887
9          1880          50155783  5.790678e+06                   0.1154
10         1890          62979766  1.154713e+07                   0.1833
11         1900          76303387  1.185400e+07                   0.1554
12         1910          91972266  1.596800e+07                   0.1707
13         1920         105710620  2.511700e+07                   0.2376
14         1930         122775046  4.015600e+07                   0.3271
15         1940         131669275  6.752700e+07                   0.5129
16         1950         151325798  9.146200e+07                   0.6044
17         1960         179323175  1.279340e+08                   0.7134
18         1970         203302031  2.476530e+08                   1.2200
19         1980         226542199  1.078488e+09                   4.7600
20         1990         248718301  2.492830e+09                  10.0200
21         2000         281421906  4.500000e+08                  15.9900
22         2010         308745538  1.300000e+09                  42.1100
the shape of cleansed df is (23, 4)

    Census Year  Total Population  Census Cost  Average Cost Per Person
0         False             False        False                    False
1         False             False        False                    False
2         False             False        False                    False
3         False             False        False                    False
4         False             False        False                    False
5         False             False        False                    False
6         False             False        False                    False
7         False             False        False                    False
8         False             False        False                    False
9         False             False        False                    False
10        False             False        False                    False
11        False             False        False                    False
12        False             False        False                    False
13        False             False        False                    False
14        False             False        False                    False
15        False             False        False                    False
16        False             False        False                    False
17        False             False        False                    False
18        False             False        False                    False
19        False             False        False                    False
20        False             False        False                    False
21        False             False        False                    False
22        False             False        False                    False

In [21]:
dataframe2_cleansed.isnull().any()

Census Year                False
Total Population           False
Census Cost                False
Average Cost Per Person    False
dtype: bool

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=b1b47f6f-399c-4c62-a3b1-883c9e8ac1e1' target="_blank">
<img style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>